.articles {
    ul {
        li.article-item {
            overflow:hidden;
            display:block;
            height: 11rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid $border-color;
            .article-image {
                width: 40%;
                float:left;
                display:block;
                height: 100%;
                margin-right: 1rem;
                background-size: cover;
                background-position: center center;

            }

            .article-title {
                float: left;
            }
        }
    }
}
    